<form [formGroup]="form" method="post" (ngSubmit)="sendUsuario()" class="flex flex-col gap-4 w-full sm:w-56">
    <div class="flex flex-col gap-1">
        <input pInputText type="text" id="nombre" placeholder="Nombre" formControlName="nombre" [invalid]="isInvalid('nombre')" />
        @if (isInvalid('nombre')) {
            <p-message severity="error" size="small" variant="simple">Nombre es requerido.</p-message>
        }
    </div>
    <div class="flex flex-col gap-1">
        <input pInputText type="text" id="apellido" placeholder="Apellido" formControlName="apellido" [invalid]="isInvalid('apellido')" />
        @if (isInvalid('apellido')) {
            <p-message severity="error" size="small" variant="simple">Apellido es requerido.</p-message>
        }
    </div>
    <div class="flex flex-col gap-1">
        <input pInputText type="mail" id="mail" placeholder="Mail" formControlName="mail" [invalid]="isInvalid('mail')" />
        @if (isInvalid('mail')) {
            @if (form.get('mail')?.errors?.['required']) {
                <p-message severity="error" size="small" variant="simple">Se requiere mail</p-message>
            }
            @if (form.get('mail')?.errors?.['email']) {
                <p-message severity="error" size="small" variant="simple">Agregue un mail valido</p-message>
            }
        }
        @if(existeUsuario()){
            <p-message severity="error" size="small" variant="simple">El mail ya está registrado</p-message>
        }
    </div>
    <div class="flex flex-col gap-1">
        <input pInputText type="password" id="password" placeholder="Contraseña" formControlName="password" [invalid]="isInvalid('password')" />
        @if (isInvalid('password')) {
            <p-message severity="error" size="small" variant="simple">La contraseña debe tener al menos 6 caracteres</p-message>
        }
    </div>
    <button pButton severity="secondary" type="submit"><span pButtonLabel>Registrarme</span></button>
</form>
