<p-carousel 
class="carousel"
[value]="skins" 
[numVisible]="3" 
[numScroll]="1" 
[circular]="true" 
[autoplayInterval]="5000">>
    <ng-template pTemplate="item" let-skin>
        <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
            <div class="mb-4">
                <div class="relative mx-auto card">
                    <img [src]="skin.img" [alt]="skin.name" class="w-full rounded-border" />
                </div>
            </div>
            <div class="mb-4 font-medium">{{ skin.name }}</div>
        </div>
    </ng-template>
</p-carousel>