<app-video-background>
    <div class="login-container">
        <h1>Iniciar sesión</h1>
        <form [formGroup]="form" (ngSubmit)="login()" class="flex flex-col gap-4 w-full sm:w-56 mx-auto">
            
            <div class="flex flex-col gap-1">
                <input pInputText type="email" id="mail" placeholder="Mail" formControlName="mail" [invalid]="isInvalid('mail')" />
                @if (isInvalid('mail')) {
                    @if (form.get('mail')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">Se requiere mail</p-message>
                    }
                    @if (form.get('mail')?.errors?.['email']) {
                        <p-message severity="error" size="small" variant="simple">Agregue un mail valido</p-message>
                    }
                }
            </div>
            <div class="flex flex-col gap-1">
                <input pInputText type="password" id="password" placeholder="Contraseña" formControlName="password" [invalid]="isInvalid('password')" />
                @if (isInvalid('password')) {
                    @if (form.get('password')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">Se requiere contraseña</p-message>
                    }
                    @if (form.get('password')?.errors?.['minlength']) {
                        <p-message severity="error" size="small" variant="simple">Mínimo 6 caracteres</p-message>
                    }
                }
            </div>
            <p-button pButton severity="secondary" type="submit" [disabled]="form.invalid">
                <span pButtonLabel>Ingresar</span>
            </p-button>
        </form>
    </div>
</app-video-background>

